

.App {
  height: 100%;

}
.content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.cont{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  
}

.App {
 
  min-height: 100%;

}

body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #1c1f31;
}
.flex{
  display: flex;
}